<% include partials/header %>

<div class="row">   
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky" style="margin-right: -15px;">
            <ul class="nav flex-column" style="font-size: 1.3em;">
                <li class="nav-item" style="font-size: 1.5em; border-bottom: 2px solid black;"><strong>DASHBOARD</strong></li>
                <li class="nav-item dash-link"><a href="/dashboard" class="nav-link">Contact Us Responses</a></li>
                <li class="nav-item dash-link"><a href="/shake" class="nav-link">Shake of the month</a></li>
                <li class="nav-item dash-link"><a class="nav-link" href="/applications" style="background-color: #A1FFCE; border-bottom: 5px solid #28a745; color: black;">Applications</a></li>
                <li class="nav-item dash-link"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="col">
        <h1 class="text-center mg-top">Applications:</h1>
        <% applications.forEach(function(app){ %>
            <div class="bg-white contact-field shadow" style="width: 75%; padding: 35px; border-radius: 10px;">
                <h2 class="text-center">Applicant: <%= app.firstName %> <%= app.lastName %></h2>
                <div class="row mg-top text-center">
                    <div class="col" style="border: 1px solid black;">
                        <h3 style="border-bottom: 1px solid black; padding: 5px;">Address:</h3>
                        <h3><%= app.address %> <br> <%= app.city %>, <%= app.state %> <%= app.zipcode %></h3>
                    </div>
                    <div class="col" style="border: 1px solid black;">
                        <h3 style="border-bottom: 1px solid black; padding: 5px;">Phone Number:</h3>
                        <h3><%= app.phone %></h3>
                    </div>
                    <div class="col" style="border: 1px solid black;">
                        <h3 style="border-bottom: 1px solid black; padding: 5px;">Email:</h3>
                        <h3><%= app.email %></h3>
                    </div>
                </div>
                <div class="row mg-top text-center" style="border: 1px solid black;">
                    <div class="col">
                        <h3 style="border-bottom: 1px solid black; padding: 5px;">Work Experience:</h3>
                        <h3><%= app.jobTitle %> at <%= app.company %></h3>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    
</div>

<% include partials/footer %>